@import url("https://github.com/derrasierer/Discord-Hintergr-nde/blob/main/Template/Translucence.css");

:root {
	
	--app-bg: url("https://raw.githubusercontent.com/derrasierer/Discord-Hintergr-nde/main/Pictures/Borderlands%203%20Designed%20Head.jpg");
	
	--app-blur: 5px;
	
	--accent-hue: 200;
	--accent-saturation: 100%;
	--accent-lightness: 65%;
	
	--sidebar-color: hsl(0,0%,0%,0.38);
	
	--main-content-color: hsl(0,0%,0%,0.30);
	
	--message-color: hsl(200,50%,10%,0.22);
	
}